#header{
    background: rgba(65, 71, 79, 1);
    /*background: rgba(35, 52, 63, 1);
    border: 0px;
    border-radius: 0px;
    padding: 5px 0px 5px 0px;*/
     /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}


#navbar-brand{
    color: rgba(178, 187, 189, 1);
    /*color: yellow;*/
    /*border-right: 4px solid grey;*/
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    transition: color .5s ease-in-out;    
    text-shadow: 1px 1px 1px rgba(45,45,45,.5);
}

#navbar-brand:hover{
    color: white;
}


#navlinks_l li a{
    color: white;
    font-size: 16px;
    font-family:'Ubuntu', sans-serif;
    /*transition: color .2s ease-in-out;*/
}

#navlinks_l li .n1:hover{
    background: rgb(53, 57, 64);
}

#navlinks_l li .n2:hover{
    background: rgb(53, 57, 64);
}

#navlinks_l li .n3:hover{
    background: rgb(53, 57, 64);
}


/*right nav*/
#navlinks_r li a{
    color: rgba(178, 187, 189, 1);
    font-size: 20px;
    padding-left: 0px;
    transition: color .5s ease-in-out;
}


#navlinks_r li a:hover{
    color: white;
}



#frontpage .front{
    margin-top: 60px;
}

#frontpage .front img{
    margin: 0 auto;
}

